<!doctype html>
<html>

<head>
	<style>
		.section {
			margin-left:200px;
			overflow: hidden;
		}
	</style>
	<meta charset="utf-8">
	<!-- CSS is here -->
	<title>Web bán hàng</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link href="/css/nav-header.css" rel="stylesheet" type="text/css">
	<link href="/css/banner-top.css" rel="stylesheet" type="text/css">
	<link href="/css/left-content.css" rel="stylesheet" type="text/css">
	<link href="/css/section.css" rel="stylesheet" type="text/css">
	<link href="/css/footer.css" rel="stylesheet" type="text/css">
	<link href="/css/product-box.css" rel="stylesheet" type="text/css">
	<link href="/css/sapxepsp.css" rel="stylesheet" type="text/css">
	<link href="/css/breadcrumb.css" rel="stylesheet" type="text/css">
	<link href="/css/thong-tin-sp.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

	<div class="">

		<!-- Thanh công cụ -->
		<div class="nav fixed-top">
			<ul class="list-left">
				<li><a href="/index" class="a-light logo-home">HOME</a></li>
				<li><a href="/gioithieu">Giới thiệu</a></li>
				<li><a href="/lienhe">Liên hệ</a></li>
			</ul>
			<ul class="list-right">
				<li th:if="${userdto != null}">Hello, <span th:text="${userdto.getUsername()}"></span>!</li>
				<li  th:if="${userdto == null}"class="dang-nhap"><a href="/dangnhap">Đăng nhập</a></li>
				<li th:if="${userdto != null}" class="dang-nhap"><a th:href="@{/logout}">Đăng xuất</a></li>
				<span >|</span>
				<li th:if="${userdto == null}" class="dang-ky"><a href="/dangky">Đăng ký</a></li>
				<li th:if="${userdto != null}"><a href="/loadcart" class="left a-light">GIỎ HÀNG</a></li>
			</ul>
		</div>
		<!-- end Thanh công cụ -->


		<!-- Phần header -->
		<div class="header">
			<a href="index.html"><img src="/image/logo-web1.png" alt="" width="120" height="90" class="logo" />
			</a>
			<span class="ten-cua-hang">Anh Quan Shop</span>
			<div class="search">
				<form action="tim-kiem.html">
					<input type="search" class="search-box" placeholder="Bạn cần tìm gì ?">
					<input type="submit" formmethod="post" class="search-button" value="Search">
				</form>
			</div>
		</div>
		<!-- end Phần header -->

		<!--Đường dẫn (breadcrumb)-->
		<div class="breadcrumb">
			<a class="truoc-do" href="index.html">Home</a>
			<span class="hien-tai">&raquo;</span>
			<a class="truoc-do" href="index.html">Điện thoại</a>
			<span class="hien-tai">&raquo;</span>
			<span class="hien-tai">Sản phẩm</span>
		</div>
		<!--End đường đẫn - Breadcrumb-->

		<!-- Phần thân trang container -->
		<div class="wrap_main overflow_auto">
			<!-- Thanh menu bên trái -->
<!--			<div class="menu-ben-trai">-->
<!--				<ul>-->
<!--					<li class="title">Danh Mục Sản Phẩm</li>-->
<!--					<li>-->
<!--						<button value="dienthoai" onclick="change_iframe(this)">-->
<!--							<img id="icon-mobile" src="image/phone_icon.png">Điện thoại-->
<!--						</button>-->
<!--					</li>-->
<!--					<li>-->
<!--						<button value="maytinhbang" onclick="change_iframe(this)">-->
<!--							<img id="icon-mobile" src="image/images.png">Máy tính bảng-->
<!--						</button>-->
<!--					</li>-->
<!--					<li>-->
<!--						<button value="phukien" onclick="change_iframe(this)">-->
<!--							<img id="icon-mobile" src="image/icon-headphone.jpg">Phụ Kiện-->
<!--						</button>-->
<!--					</li>-->
<!--					<li>-->
<!--						<button value="dienlanh" onclick="change_iframe(this)">-->
<!--							<img id="icon-mobile" src="image/icon-cool.jpg">Điện lạnh-->
<!--						</button>-->
<!--					</li>-->
<!--					<li>-->
<!--						<button value="laptop" onclick="change_iframe(this)">-->
<!--							<img id="icon-mobile" src="image/icon-Laptop.png">Laptop-->
<!--						</button>-->
<!--					</li>-->
<!--					<li>-->
<!--						<button value="mayanh" onclick="change_iframe(this)">-->
<!--							<img id="icon-mobile" src="image/icon-camera.png">Máy ảnh-->
<!--						</button>-->
<!--					</li>-->
<!--				</ul>-->
<!--			</div>-->
			<!--End Thanh menu bên trái -->


			<div class="khung-frame" th:object="${ttproductdto}">
				<div class="section" >
					<!--Thanh tiêu đề-->
					<p class="sectionsp" th:utext="${ttproductdto.getTen()}"></p>
					<!--End Thanh tiêu đề-->
					<div class="clear"></div>

					<div class="hinh-san-pham">
						<div th:style="'background-image: url(' + ${ttproductdto.getHinh_anh()} + ')'"	 class="hinh-to"></div>
						<div class="hinh-nho"><img src="/image/iphone-7-plus-128gb-hh-400x400.jpg" alt=""></div>
						<div class="hinh-nho"><img src="/image/iphone-7-plus-128gb-hh-400x400.jpg" alt=""></div>
						<div class="hinh-nho"><img src="/image/iphone-7-plus-128gb-hh-400x400.jpg" alt=""></div>
					</div>

					<div class="thong-tin-san-pham">
						<span th:utext="${#numbers.formatDecimal(ttproductdto.getGia_moi(), 0, 'COMMA', 0, 'POINT')}+'&#8363;' "></span>
						<span th:utext="${#numbers.formatDecimal(ttproductdto.getGia_cu() 	, 0, 'COMMA', 0, 'POINT')}+'&#8363;'" class="gia-cu"></span>
						<br>
						<input type="checkbox"><b>Yêu cầu nhân viên kỹ thuật giao hàng:</b> hỗ trợ copy danh bạ, <br>hướng dẫn sử dụng máy mới, giải đáp thắc mắc sản phẩm. <br>
						<br>
						Gọi đặt mua: 1800.1060 (miễn phí - 7:30-22:00)<br>
						<br>
						<form action="/addtocart" method="post">
							<input type="hidden" name="productId" th:value="${ttproductdto.getId()}" />
<!--							<input type="hidden" name="userId" th:value="${userdto.getId()}" />-->
							<button type="submit" class="muahang">Thêm Vào Vỏ Hàng</button>
							<button class="muahang">Mua Ngay</button>
						</form>
					</div>

					<div class="clear"></div>
<hr class="ngan_chia">

					<div class="danh-gia-san-pham">
						<h3>Xứng đáng là một trong những smartphone siêu phẩm trên thế giới, Samsung Galaxy S9 Plus bản 64 GB sở hữu nhiều tính năng vượt trội mà khó có chiếc điện thoại nào sánh bằng.</h3>
						<b>Thiết kế sang trọng và tinh tế</b><br>
						<br>
						Nhờ thiết kế tràn viền, tổng thể S9 Plus vẫn đem lại cảm giác nhỏ gọn, chắc chắn trong lòng bàn tay nhưng màn hình vẫn rộng rãi để thoải mái trải nghiệm.<br>
						<br>
						Khung của máy vẫn là kim loại kết hợp 2 mặt kính cường lực được bo cong các cạnh đầy "quyến rũ" và hiện đại.
						Với chip Core i3 thế hệ thứ 7 kết hợp 4 GB RAM được tích hợp, HP 15 da0055TU (4NA89PA) cho hiệu năng ổn định mượt mà đối với các tác vụ như soạn thảo, nhập liệu.... Ổ cứng HDD lên đến 1 TB cho người dùng thoải mái lưu trữ dữ liệu không lo hết dung lượng.
					</div>
					<div class="clear"></div>
<hr class="ngan_chia">
					<!--Thanh tiêu đề-->
					<p class="section-head">SẢN PHẨM NỔI BẬT KHÁC</p>
					<!--End Thanh tiêu đề-->
					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->

					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->
					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->
					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->
					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->
					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->
					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->
					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->
					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->
					<!--Hộp 1-->
					<div class="product-box">
						<a class="box" href="thongtinsp">
							<div class="hinh-sp">
								<div style="background-image: url(/image/xiaomi-redmi-note-6-pro-32gb-blue-600x600.jpg)" class="hinh"></div>
							</div>
							<p class="ten-sp">Iphone XS</p>
							<p class="gia-tien">20.000.000đ<span class="gia-cu">5.000.000đ</span></p>
						</a>
						<div class="them-vao-gio-hang"><button style="button" class="them">Add <img class="icon-cart" src="/image/icon-cart.png"></button></div>
					</div>
					<!--end Hộp 1-->

				</div>
			</div>





			<div class="clear"></div>
			<!--Phần chân trang-->
			<div class="footer">
			</div>
			<!--end Phần chân trang-->
		</div>
		<!--end class=""-->


		<!--thông báo đăng nhập-->
		<div id="thong-bao-dang-nhap">
			<h1 style="color: white">Bạn có muốn đăng nhập để tiếp tục mua sắm??</h1>
			<button type="button" id="yes">Đăng nhập</button>
			<button type="button" id="no">Không</button>
		</div>
		<!--end thông báo đăng nhập-->

		<script type="text/javascript">
			var them = document.getElementsByClassName('them');
			for (i = 0; i < them.length; i++) {
				them[i].onclick = function() {
					mo_tbdn(this);
				}
			};
		</script>
		<script src="/js/script.js" charset="utf-8"></script>
</body>

</html>
